<div class="header">
  <h2>Petropolis</h2>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
    <button mat-flat-button color="primary" (click)="onProfileButtonClick()">User Profile</button>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" class="main-content">
  <h2>Explore in Petropolis</h2>
  <p>
    Quickly find information about nearby parks, pet hospitals, and pet supply stores, find lost pet, exchange information or chat with our pet-specialized AI helper.
  </p>
</div>  

<div fxLayout="row" fxLayoutAlign="space-around start" class="section">
  <div fxLayout="column" fxLayoutAlign="start center" class="map-area">
    <h3>Map Area</h3>
    <button mat-flat-button color="primary" class="uniform-width-button" (click)="onMapButtonClick()">Map</button>
    <p>Find pet supply stores, pet hospitals and nearby parks to walk your pet!</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="start center" class="lost-pet-community">
    <h3>Lost Pet Community</h3>
    <button mat-flat-button color="primary" class="uniform-width-button" (click)="onForumButtonClick()">Forum</button>
    <p>
      Connect with other pet owners through our online forum, find lost pets and exchange adoption information.
    </p>
  </div>

  <div fxLayout="column" fxLayoutAlign="start center" class="help-section">
    <h3>Looking for Help?</h3>
    <button mat-flat-button color="primary" class="uniform-width-button" (click)="onAIButtonClick()">AI Helper</button>
    <p>Get professional advice on pet care through interactive Q&A chatbox</p>
  </div>
</div>
