.header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 100px;
  }

.navigation button {
    flex: 1;
  }
  
.main-content {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.section {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 100px;
}

.map-area, .lost-pet-community, .help-section {
  width: 20%;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

button {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .section {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 50px;
  }

  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 18px;
    line-height: 1.5;
  }
  
  p {
    width: 80%;
    font-size: 12px;
    margin-top: 10px;
  }

  button {
    font-size: 12px;
    line-height: 1.2;
  }
}
