<div class="header">
  <h2>Petropolis</h2>
  <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
    <button mat-flat-button color="primary" (click)="onProfileButtonClick()">User Profile</button>
    <button mat-flat-button color="primary" (click)="onLogoutButtonClick()">Log out</button>
  </div>
</div>
  
<div class="navigation" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-evenly center" style="height: 50vh;">
    <button mat-flat-button color="primary" (click)="onMapButtonClick()">Map</button>
    <button mat-flat-button color="primary" (click)="onForumButtonClick()">Forum</button>
    <button mat-flat-button color="primary" (click)="onAIButtonClick()">AI Helper</button>
</div>
