<div class="container">
  <div class="header">
    <h2>Petropolis</h2>
    <div fxLayout="row" fxLayout.xs="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
      <button mat-flat-button color="primary" routerLink="/landing">Back</button>
    </div>
  </div>
 
  <div class="navigation" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-evenly center">
    <button mat-flat-button color="primary" (click)="storeButtonClick()">Store</button>
    <button mat-flat-button color="primary" (click)="hospitalButtonClick()">Hospital</button>
    <button mat-flat-button color="primary" (click)="parkButtonClick()">Park</button>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFill>
    <div fxFlex="25" fxFlex.xs="50" fxFlexOrder.xs="2" class="sidebar-container">
      <app-sidebar [location]="selectedLocation"></app-sidebar>
    </div>
    <div fxFlex="75" fxFlex.xs="75" fxFlexOrder.xs="1" class="map-container">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>