.header {
    display: flex;
    justify-content: space-between;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
  }
  
.header-button {
  margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 100px;
    margin-top: 40px;
  }

  .navigation button {
    flex: 1;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .sidebar-container {
    overflow: auto;
  }
  
  .map-container {
    position: relative;
    height: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 600px) { 
    h2 {
      font-size: 32px;
    }
    
  
    button {
      font-size: 14px;
      line-height: 1.2;
    }
  }