<div class="header">
    <h2>Petropolis</h2>
    <button mat-flat-button color="primary" routerLink="/landing">Back</button>
</div>

  <div class="navigation" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-evenly center">
    <button mat-flat-button color="primary" (click)="searchNearby('pet_store')">Store</button>
    <button mat-flat-button color="primary" (click)="searchNearby('veterinary_care')">Hospital</button>
    <button mat-flat-button color="primary" (click)="searchNearby('park')">Park</button>
  </div>
 
  <div fxLayout="row" fxLayout.xs="column" fxFill>
    <div fxFlex="25" fxFlex.xs="100" class="sidebar-container">
      <app-sidebar [location]="selectedLocation"></app-sidebar>
    </div>
    <div fxFlex="75" fxFlex.xs="100" class="map-container">
      <div id="map" class="map"></div>
    </div>
  </div>
