.header {
    display: flex;
    justify-content: space-between;
}

.query {
  background-color: #e0e0e0;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.response {
  background-color: #cfe9e9;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
