<div class="header0">
  <img src="assets/Petropolis.svg" alt="Petropolis Logo" class="logo">
    <button mat-flat-button color="primary" routerLink="/landing" class="header-button">Back</button>
  </div>

<div class="ai-container">
  <div class="header">
    <span class="title">AI Helper</span>
    <button class="refresh-button" (click)="refresh()">Refresh</button>
  </div>
  <div class="divider"></div>
  <div class="message-box">
    <div *ngFor="let message of messages" class="message-wrapper" [ngClass]="{'answer': message.isAnswer, 'query': !message.isAnswer}">
      <div class="message" [ngClass]="{'answer': message.isAnswer, 'query': !message.isAnswer}">
        {{ message.content }}
      </div>
    </div>
  </div>
  <div class="default-questions">
    <button *ngFor="let question of defaultQuestions" class="question-button" (click)="sendDefaultQuestion(question)">
      {{ question }}
    </button>
  </div>
  <div class="input-container">
    <input type="text" [(ngModel)]="newMessage" placeholder="Enter your message here (Pet-related questions only)" />
    <button class="send-button" (click)="sendMessage()">Send</button>
  </div>
</div>


