<div class="header">
  <img src="assets/Petropolis.svg" alt="Petropolis Logo" class="logo">
  <button mat-flat-button color="primary" routerLink="/forum" class="header-button">Back</button>
</div>

<div class="content">
  <div class="post" *ngFor="let post of posts">
    <div class="left">
      <img [src]="post.image" />
      <div>
        <div>
          <span class="name">{{post.name}}</span>
          <span class="type">{{post.type}}</span>
        </div>
        <div class="area">{{post.area}}</div>
      </div>
    </div>
    <div>
      <button mat-flat-button color="primary" routerLink="/view" style="margin-right: 10px">Delete</button>
      <button mat-flat-button color="primary" routerLink="/post/1">Edit</button>
    </div>
  </div>
</div>

