<div class="sidebar" fxLayout="column" fxLayoutGap="10px" fxFlexFill>
  <h2 *ngIf="location">{{ location.name }}</h2>
  <p *ngIf="location">
    {{ location.address }}<br>
    Rating: {{ location.rating }}<br>
    <a *ngIf="location.website" [href]="location.website" target={{ location.website }}>Website</a>
  </p>
  <div *ngIf="location && location.photos.length > 0">
    <img *ngFor="let photo of location.photos" [src]="photo.getUrl()" style="max-width: 100%; height: auto; margin-top: 10px;">
  </div>
  <div *ngIf="!location">
    <p>Click on a place marker to see details</p>
  </div>
</div>