<div class="header">
    <h2>Petropolis</h2>
    <button mat-flat-button color="primary" routerLink="/landing">Back</button>
  </div>

<div fxLayout="column" fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="center center" style="height: 75vh;">
    <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email">
    </mat-form-field>      
    <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username">
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSignUpButtonClick()">Sign up</button>
</div>
  