.header {
    display: flex;
    justify-content: space-between;
}

.uniform-width-button {
  width: 300px; 
  text-align: center; 
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
  }
  
.header-button {
  margin-top: 10px;
}


@media only screen and (max-width: 600px) { 
    h2 {
      font-size: 32px;
    }
    
  
    button {
      font-size: 14px;
      line-height: 1.2;
    }
  }