.header {
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    display: flex;
    margin-top: 50px;
    gap: 20px;
    background-color: #f9f9f9;
  }
  
  .left {
    background-color: #e1e1e1;
    padding: 20px;
    flex: 1;
  }
  
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    flex: 2;
  }
  
  .item {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    max-width: 700px;
    margin-bottom: 15px;
    word-break: break-all;
  }
  
  .item > span:first-child {
    margin-right: 20px;
    font-weight: 500;
  }
  