.background {
  position: relative;
  height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  z-index: 1; 
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/dog.jpg'); 
  background-size: cover; 
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.75; 
  z-index: -1; 
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  position: relative; 
  z-index: 2; 
  top: 0;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
  }
  
.header-button {
  margin-top: 10px;
}

.uniform-width-button {
  width: 300px; 
  text-align: center; 
}

.button-margin {
  margin-top: 20px;
}

.custom-card-background {
  background-color: #e1e1e1; /* Replace with your desired color */
}

@media only screen and (max-width: 600px) { 
    h2 {
      font-size: 32px;
    }
    
  
    button {
      font-size: 14px;
      line-height: 1.2;
    }
  }