.header {
    display: flex;
    justify-content: space-between;
}

.uniform-width-button {
  width: 300px; 
  text-align: center; 
}

.button-margin {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) { 
    h2 {
      font-size: 32px;
    }
    
  
    button {
      font-size: 14px;
      line-height: 1.2;
    }
  }